
p2.foto1{
    float:right;
}   
p2.foto2{
    display: block;
    margin: 0 auto 0 1400px;
    margin-top: 200px;
}


p2.foto3{
    float:left;
  
}


p3.rojo{
    color: red;
}
p4.fin{
    margin-top: 500px;
    background-color: yellow;
}
